*, p {
  margin: 0;
  padding: 0; }

a {
  color: unset; }

a:hover {
  text-decoration: none;
  color: unset; }

.weight_600 {
  font-weight: 600; }

.header-text {
  margin-bottom: 80px; }
  .header-text p {
    color: #6d6d6d;
    font-size: 18px;
    font-weight: 200; }
  .header-text span {
    color: #232323;
    font-weight: 200; }
  .header-text hr {
    border-top-color: #232323;
    width: 70px;
    margin: 20px auto; }

.btn-orange {
  width: 100%;
  background: #f15927;
  color: #fff;
  border-radius: 50px;
  padding: 12px 0;
  font-size: 18px;
  transition: 0.3s; }
  .btn-orange:hover {
    background: #232323; }

.about {
  padding: 120px 0; }
  .about .about-item i {
    font-size: 60px;
    color: #f15927;
    transition: 0.3s; }
  .about .about-item h4 {
    margin: 16px 0;
    transition: 0.3s; }
  .about .about-item p {
    color: #676767;
    word-spacing: 2px;
    line-height: 26px; }
  .about .about-item:hover i, .about .about-item:hover h4 {
    transform: translateY(-10px); }
  .about .about-item:hover h4 {
    color: #f15927; }
  .about .about-item:hover i {
    color: #676767; }
  .about .about-img {
    background: url("img/about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.margin-top {
  margin-top: 50px; }

.menu {
  padding: 120px 0;
  background: #f7f7f7; }
  .menu .owl-carousel {
    height: 310px; }
  .menu .item {
    height: 300px; }
    .menu .item .dish-item {
      box-shadow: 0px -1px 30px 1px rgba(0, 0, 0, 0.2);
      border-radius: 10px; }
      .menu .item .dish-item .dish-img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden; }
        .menu .item .dish-item .dish-img img {
          transition: 0.3s; }
      .menu .item .dish-item .dish-info {
        display: flex;
        justify-content: space-between;
        transition: 0.3s; }
        .menu .item .dish-item .dish-info span {
          font-size: 18px;
          line-height: 30px;
          padding: 15px 25px; }
    .menu .item:hover img {
      transform: scale(1.2); }
    .menu .item:hover .dish-info {
      background: #f15927;
      color: #fff; }

.status .status-img {
  padding: 120px 0;
  background: url("img/status.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/status.jpg");
  background-attachment: fixed;
  height: 415px; }
  .status .status-img .status-item {
    color: #fff; }
    .status .status-img .status-item i, .status .status-img .status-item .status-number {
      font-size: 40px;
      transition: 0.3s; }
    .status .status-img .status-item .status-name {
      font-size: 22px;
      font-weight: 200; }
    .status .status-img .status-item:hover i {
      transform: translateY(-6px);
      color: #f15927; }

.delicious-food {
  padding: 120px 0; }

.chiefs {
  padding: 120px 0; }
  .chiefs .chief-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden; }
    .chiefs .chief-img img {
      transition: 0.3s; }
  .chiefs .chief-info .chief-name {
    color: #232323;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 30px;
    transition: 1s; }
  .chiefs .chief-info .chief-role {
    color: #676767;
    font-size: 14px;
    word-spacing: 2px;
    line-height: 26px;
    margin: 8px 0; }
  .chiefs .item:hover img {
    transform: scale(1.1); }
  .chiefs .item:hover .chief-name {
    color: #f15927; }

.pricing {
  padding-bottom: 120px; }
  .pricing .pricing-item {
    border: 2px solid #FFFFFF;
    padding: 32px 21px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    font-size: 14px; }
    .pricing .pricing-item .price {
      display: flex;
      justify-content: space-between;
      padding: 22px 0;
      border-top: 2px solid rgba(48, 56, 64, 0.18);
      border-bottom: 2px solid rgba(48, 56, 64, 0.18); }
      .pricing .pricing-item .price span {
        color: #f15927;
        font-size: 18px; }
      .pricing .pricing-item .price .price-number {
        margin-top: -10px;
        margin-left: -40px;
        font-size: 42px;
        color: #f15927; }
      .pricing .pricing-item .price .text-end {
        width: 65%;
        padding-right: 10px; }
    .pricing .pricing-item .includes {
      padding: 20px 0;
      line-height: 40px; }
      .pricing .pricing-item .includes i {
        margin-right: 10px;
        font-size: 12px; }
  .pricing .middle-pricing {
    background: #6d6d6d;
    color: #fff;
    border-color: #6d6d6d;
    transition: 0.3s; }
    .pricing .middle-pricing .price {
      border-color: #fff; }
      .pricing .middle-pricing .price span, .pricing .middle-pricing .price .price-number {
        color: #fff; }
    .pricing .middle-pricing button {
      background: #fff;
      color: #232323; }
      .pricing .middle-pricing button:hover {
        background: #f15927;
        color: #fff; }
    .pricing .middle-pricing:hover {
      background: #232323; }

.feedback {
  padding: 120px 0;
  height: 656px;
  color: #fff;
  background: url("img/feedback.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .feedback .text-center h2 {
    font-size: 40px; }
    .feedback .text-center h2 span {
      color: #fff; }
  .feedback .carousel-item {
    text-align: center; }
    .feedback .carousel-item p {
      width: 85%;
      margin: 0 auto;
      word-spacing: 2px;
      line-height: 26px;
      font-size: 18px; }
    .feedback .carousel-item .feedback-details {
      font-weight: 200;
      margin-bottom: 45px; }
    .feedback .carousel-item .feed-by {
      font-weight: 600; }
  .feedback .carousel-indicators {
    position: unset;
    margin-top: 80px; }
    .feedback .carousel-indicators li {
      background: #fff; }
    .feedback .carousel-indicators li.active {
      background: #f15927; }
  .feedback .feed-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 0.3s; }
    .feedback .feed-icon:hover {
      background: #f15927; }
  .feedback .carousel-control-prev {
    left: 15px; }

.news {
  padding: 120px 0; }
  .news .news-title {
    font-size: 22px;
    transition: 1s; }
  .news .news-date {
    font-size: 14px; }
  .news .news-date, .news .news-content {
    word-spacing: 2px;
    line-height: 26px;
    color: #676767; }
  .news .news-img {
    margin: 12px 0;
    border-radius: 5px;
    overflow: hidden;
    width: 100%; }
    .news .news-img img {
      transition: 0.3s; }
    .news .news-img:hover img {
      transform: scale(1.1); }
  .news .owl-dots {
    margin-top: 80px !important; }
    .news .owl-dots .owl-dot span {
      background: #6d6d6d;
      width: 12px;
      height: 12px; }
    .news .owl-dots .owl-dot.active span {
      background: #f15927; }
  .news .news-item {
    width: 98%; }
    .news .news-item:hover .news-title {
      color: #f15927; }

.google-map {
  position: relative; }
  .google-map iframe {
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.4); }

.contact a {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  line-height: 30px;
  display: inline-block;
  transition: 1s; }
  .contact a:hover .hover-linkedin {
    color: #fff; }

.hover-linkedin:hover {
  background: #0077b5; }

.hover-fb:hover {
  background: #3b5998; }

.hover-twitter:hover {
  background: #00b2ff; }

.hover-google:hover {
  background: #C9302C; }

.hover-pinterest:hover {
  background: #BD081C; }

.contact-form {
  padding: 120px 0; }
  .contact-form .header-text {
    margin-bottom: 20px; }
  .contact-form p {
    color: #676767;
    word-spacing: 2px;
    line-height: 26px; }
  .contact-form .contact-details {
    margin-bottom: 30px; }
  .contact-form .contact-item {
    display: flex;
    margin-bottom: 30px; }
    .contact-form .contact-item i {
      padding: 8px 30px 0 0;
      transition: 1s;
      font-size: 22px;
      color: #676767; }
    .contact-form .contact-item:hover i {
      color: #f15927; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    border: 1px solid #e4e4e4;
    background: #F4F4F4;
    padding: 15px 20px;
    color: #b5b5b5;
    margin-bottom: 30px;
    border-radius: 10px; }
  .contact-form .p-70 {
    padding-top: 70px; }
  .contact-form button {
    width: 242px; }
  .contact-form textarea {
    height: 200px; }

::placeholder {
  color: #b5b5b5   !important; }

footer {
  background: #232323;
  padding: 120px 0;
  color: #fff; }
  footer .contact {
    margin-bottom: 25px; }
    footer .contact a {
      line-height: 40px;
      width: 43px;
      height: 36px;
      border-radius: 40px; }
      footer .contact a i {
        font-size: 20px; }

@media only screen and (max-width: 1200px) {
  .feedback {
    padding: 100px 0;
    height: 616px; } }
@media only screen and (max-width: 991px) {
  .about .about-item {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
  .about .col-lg-6 {
    height: 720px;
    margin-bottom: 50px; }

  .status .status-img {
    height: 592px;
    padding: 80px 0; }
    .status .status-img .status-item {
      margin-bottom: 65px; }

  .pricing-item .price span {
    width: 25%; }

  .feedback {
    padding: 80px 0;
    height: 507px; }
    .feedback .text-center {
      margin-bottom: 30px; } }
@media only screen and (max-width: 767px) {
  .status .status-img {
    height: 852px;
    padding: 80px 0; }
    .status .status-img .status-item {
      margin-bottom: 65px; }
      .status .status-img .status-item .status-number, .status .status-img .status-item i {
        font-size: 30px; }
      .status .status-img .status-item .status-name {
        font-size: 20px; }

  .pricing-item .price span {
    width: 10%; }
  .pricing-item .price .price-number {
    margin-left: -120px !important; } }

/*# sourceMappingURL=style.css.map */
