$lightGray: #6d6d6d;
$lightDark: #232323;
$orange: #f15927;
$textLight: #676767;
$font18: 18px;
$transfast: 0.3s;
$transslow: 1s;
$fontW_200: 200;
@mixin backgroundImg($url) {
    background: url($url);
    // background-position: center;
    // background-size: cover;
    background-repeat: no-repeat;
}
*, p {
    margin: 0;
    padding: 0;
}
a {
    color: unset;
}
a:hover {
    text-decoration: none;
    color: unset;
}
.weight_600 {
    font-weight: 600;
}
.header-text {
    margin-bottom: 80px;
    p {
        color: $lightGray;
        font-size: $font18;
        font-weight: $fontW_200;
    }
    span {
        color: $lightDark;
        font-weight: $fontW_200;
    }
    hr {
        border-top-color: $lightDark;
        width: 70px;
        margin: 20px auto;
    }
}
.btn-orange {
    width: 100%;
    background: $orange;
    color: #fff;
    border-radius: 50px;
    padding: 12px 0;
    font-size: 18px;
    transition: $transfast;
    &:hover {
        background: $lightDark;
    }
}
.about {
    padding: 120px 0;
    .about-item {
        i {
            font-size: 60px;
            color: $orange;
            transition: $transfast;
        }
        h4 {
            margin: 16px 0;
            transition: $transfast;
        }
        p {
            color: $textLight;
            word-spacing: 2px;
            line-height: 26px;
        }
        &:hover {
            i, h4 {
                transform: translateY(-10px);
            }
            h4 {
                color: $orange;
            }
            i {
                color: $textLight;
            }
        }
    }
    .about-img {
        @include backgroundImg("img/about.jpg");
    }
}
.margin-top {
    margin-top: 50px;
}




.menu {
    padding: 120px 0;
    background: #f7f7f7;
    .owl-carousel {
        height: 310px;
    }
    .item {
        height: 300px;
        .dish-item {
            box-shadow: 0px -1px 30px 1px rgba(0,0,0,0.2);
            border-radius: 10px;
            .dish-img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                img {
                    transition: $transfast;   
                }
            }  
            .dish-info {     
                display: flex;
                justify-content: space-between;
                transition: $transfast;
                span {
                    font-size: $font18;
                    line-height: 30px;
                    padding: 15px 25px;
                }
            }
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
            .dish-info {
                background: $orange;
                color: #fff;
            }
        }
    }
}

.status {
    .status-img {
        padding: 120px 0;
        @include backgroundImg("img/status.jpg");
        background-image: url("img/status.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 415px;
        .status-item {
            color: #fff;
            i, .status-number {
                font-size: 40px;
                transition: $transfast;
            }
            .status-name {
                font-size: 22px;
                font-weight: $fontW_200;
            }
            &:hover {
                i {
                    transform: translateY(-6px);
                    color: $orange;
                }
            }
        }
    }
}

.delicious-food {
    padding: 120px 0;
}

.chiefs {
    padding: 120px 0;
    .chief-img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        overflow: hidden;
        img {
            transition: $transfast;
        }
    }
    .chief-info {
        .chief-name {
            color: $lightDark;
            font-size: $font18;
            word-spacing: 2px;
            line-height: 30px;
            transition: $transslow;
        }
        .chief-role {
            color: $textLight;
            font-size: 14px;
            word-spacing: 2px;
            line-height: 26px;
            margin: 8px 0;
        }
    }
    .item {
        &:hover {
            img {
                transform: scale(1.1);
            }
            .chief-name {
                color: $orange;
            }
        }
    }
}

.pricing {
    padding: 120px 0;
    .pricing-item {
        border: 2px solid #FFFFFF;
        padding: 32px 21px;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: #FFFFFF;
        font-size: 14px;
        .price {
            display: flex;
            justify-content: space-between;
            padding: 22px 0;
            border-top: 2px solid rgba(48, 56, 64, 0.18);
            border-bottom: 2px solid rgba(48, 56, 64, 0.18);
            span {
                color: $orange;
                font-size: 18px;
            }
            .price-number {
                margin-top: -10px;
                margin-left: -40px;
                font-size: 42px;
                color: $orange;
            }
            .text-end {
                width: 65%;
                padding-right: 10px;
            }
        }
        .includes {
            padding: 20px 0;
            line-height: 40px;
            i {
                margin-right: 10px;
                font-size: 12px;
            }
        }
    }
    .middle-pricing {
        background: $lightGray;
        color: #fff;
        border-color: #6d6d6d;
        transition: $transfast;
        .price {
            border-color: #fff;
            span, .price-number {
                color: #fff;
            }
        }
        button {
            background: #fff;
            color: $lightDark;
            &:hover {
                background: $orange;
                color: #fff;
            }
        }
        &:hover {
            background: $lightDark;
        }
    }
}

.feedback {
    padding: 120px 0;
    height: 656px;
    color: #fff;
    @include backgroundImg("img/feedback.jpg");
    .text-center {
        h2 {
            font-size: 40px;
            span {
                color: #fff;
            }
        }
    }
    .carousel-item {
        text-align: center;
        p {
            width: 85%;
            margin: 0 auto;
            word-spacing: 2px;
            line-height: 26px;
            font-size: 18px;
        }
        .feedback-details {
            font-weight: $fontW_200;
            margin-bottom: 45px;
        }
        .feed-by {
            font-weight: 600;
        }
    }
    .carousel-indicators {
        position: unset;
        margin-top: 80px;
        li {
            background: #fff;
        }
        li.active {
            background: $orange;
        }
    }
    .feed-icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition: $transfast;
        &:hover {
            background: $orange;
        }
    }
    .carousel-control-prev {
        left: 15px;
    }
}

.news {
    padding: 120px 0;
    .news-title {
        font-size: 22px;
        transition: $transslow;
    }
    .news-date {
        font-size: 14px;
    }
    .news-date, .news-content {
        word-spacing: 2px;
        line-height: 26px;
        color: $textLight;
    }
    .news-img{
        margin: 12px 0;
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        img {
            transition: $transfast;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
    .owl-dots {
        margin-top: 80px !important;
        .owl-dot span {
            background: $lightGray;
            width: 12px;
            height: 12px;
        }
        .owl-dot.active span {
            background: $orange;
        }
    }
    .news-item {
        width: 98%;
        &:hover {
            .news-title {
                color: $orange;
            }
        }
    }
}
.google-map {
    position: relative;
    iframe {
        width: 100%;
        height: 400px;
        background: rgba(0, 0, 0, 0.4);
    }
}
.contact a {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    line-height: 30px;
    display: inline-block;
    transition: $transslow;
    &:hover .hover-linkedin {
        color: #fff;         
    }
}
.hover-linkedin {
    &:hover {
    background: #0077b5;
    }
}
.hover-fb {
    &:hover {
    background: #3b5998;
    }
}
.hover-twitter {
    &:hover {
    background: #00b2ff;
    }
}
.hover-google {
    &:hover {
    background: #C9302C;
    }
}
.hover-pinterest {
    &:hover {
    background: #BD081C;
    }
}



.contact-form {
    padding: 120px 0;
    .header-text {
        margin-bottom: 20px;
    }
    p {
        color: $textLight;
        word-spacing: 2px;
        line-height: 26px;
    }
    .contact-details {
        margin-bottom: 30px;
    }
    .contact-item {
        display: flex;
        margin-bottom: 30px;
        i {
            padding: 8px 30px 0 0;
            transition: $transslow;
            font-size: 22px;
            color: $textLight;
        }
        &:hover {
            i {
                color: $orange;
            }
        }
    }
    input, textarea {
        width: 100%;
        border: 1px solid #e4e4e4;
        background: #F4F4F4;
        padding: 15px 20px;
        color: #b5b5b5;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    .p-70 {
        padding-top: 70px;
    }
    button {
        width: 242px;
    }
    textarea {
        height: 200px;
    }
}
::placeholder {
    color: #b5b5b5   !important;
}


.expertise {
    position: relative;
    background: #f7f7f7;
    .text-center {
        margin-bottom: 30px;
    }
    .col-lg-6 {
        padding: 120px 0;
    }
    .expertise-img {
        @include backgroundImg("img/team.jpg");
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        left: auto;
    }
    .progress-iem {
        margin-bottom: 30px;
        p {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .progress {
            background: #fff;
            overflow: visible;
            width: 95%;
            border-radius: 50px;
        }
        .progress-bar {
            background: $orange;
            position: relative;
            border-radius: 50px;
        }
        .progress-percent {
            position: absolute;
            left: 97%;
            top: -40px;
            color: #fff;
            padding: 4px;
            font-size: 10px;
            background: $lightDark;
            &:before {
                content: ".";
                position: absolute;
                width: 0px;
                height: 0px;
                right: 8px;
                top: 22px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 8px solid #232323;
            }
        }
    }
}

footer {
    background: $lightDark;
    padding: 120px 0;
    color: #fff;
    .contact {
        margin-bottom: 25px;
        a {
        line-height: 40px;
        width: 43px;
        height: 36px;
        border-radius: 40px;
        i {
            font-size: 20px;
        }
        }
    }
}
@media only screen and (max-width: 1200px) {
.feedback {
    padding: 100px 0;
    height: 616px;
}
}
@media only screen and (max-width: 991px) {

.about {
    .about-item {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-6 {
        height: 720px;
        margin-bottom: 50px;
    }
}
.status {
    .status-img {
        height: 592px;
        padding: 80px 0;
        .status-item {
            margin-bottom: 65px;
        }
    }
}
.pricing-item {
    .price {
        span {
            width: 25%;
        }
    }
}
.feedback {
    padding: 80px 0;
    height: 507px;
    .text-center {
        margin-bottom: 30px;
    }
}
.contact-form {
    .contact-item {
        flex-direction: column;
        text-align: center;
        i {
            padding-right: 0;
            margin-bottom: 8px;
        }
    }
}
}

@media only screen and (max-width: 767px) {

    .status {
        .status-img {
            height: 852px;
            padding: 80px 0;
            .status-item {
                margin-bottom: 65px;
                .status-number, i {
                    font-size: 30px;
                }
                .status-name {
                    font-size: 20px;
                }
            }
        }
    }
    .pricing-item {
        .price {
            span {
                width: 10%;
            }
            .price-number {
                margin-left: -120px !important; 
            }
        }
    }
    }